.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: auto;
    
  }
  
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  h4 {
      font-weight: bold;
      font-size: 50px;
  }

  button {
    width: 100%;
    height: 250px;
    border-radius: 5px; 
    
  }

  #scoreCard{
    font-size:50px;
  }

  #results {
    font-size:50px;
  }